@font-face {
    font-family: Inter;
    font-weight: normal;
    src: url("/fonts/inter/Inter-Regular.ttf");
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src: url("/fonts/inter/Inter-Bold.ttf")
}

body {
    background-color: black;
}