<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bassj.io</title>
  <link rel="stylesheet" type="text/css" href="/styles/importer.css">
  </link>
</head>

<body class="d-flex flex-column">
  <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav p-3">
          <li class="nav-item px-3 active"> 
            <a href="#" class="nav-link">Home</a>
          </li>

          <li class="nav-item px-3"> 
            <a href="#" class="nav-link">Stuff</a>
          </li>

          <li class="nav-item px-3"> 
            <a href="#" class="nav-link">About</a>
          </li>
        </ul>
      </div>
  </nav>
  <div class="container-fluid flex-grow-1">
    <div class="row h-100 justify-content-center">
      <div class="col-6">
        Hello World!
      </div>
    </div>
  </div>
</body>
</html>