@import "bootstrap";

@font-face {
    font-family: "Inter";
    font-weight: normal;
    src: url("/fonts/inter/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: bold;
    src: url("/fonts/inter/Inter-Bold.ttf")
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: "Inter";
}

.navbar-nav {
    .nav-item {
        font-weight: bold;
        .nav-link {
            color: white;
            font-size: 2.5rem;
        }

        &.active {
            .nav-link {
                text-decoration: underline;
            }
        }
    }
}